* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: white;
}

header {
    width: 100%;
    height: 100vh;
}

#logo1 {
    width: 50px;
    height: 50px;
    margin-left: 80px;
}

#logo2 {
    width: 50px;
    height: 50px;
    margin-left: 80px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    top: 0;
    position: fixed;
    width: 100%;
    background-color: rgb(128, 64, 27);
    z-index: 20;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.sidebar li {
    list-style: none;
    margin: 10px 20px;
    height: 34px;
}

.burger-menu li {
    list-style: none;
    margin: 0px 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul li a:hover {
    color: rgb(240, 181, 133);
}

#menu-icon {
    font-size: 30px;
    color: white;
    cursor: pointer;
    z-index: 30;
    display: none;
}

#close-icon {
    cursor: pointer;
}

.burger-menu {
    position: fixed;
    top: 80px;
    right: 20px;
    width: 170px;
    height: 190px;
    background: rgba(128, 64, 27, 0.747);
    border: 2px solid rgba(71, 36, 15, 0.747);
    border-radius: 15px;
    transition: 0.3s ease-in-out;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
}

.burger-menu ul {
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

@media only screen and (max-width: 810px) {
    .sidebar {
        display: none;
    }

    #menu-icon {
        display: block;
    }

    .logo {
        margin-left: 10px;
    }

    #logo1,
    #logo2 {
        margin-left: 0;
    }
}

/* SCROLL ANIMATION */

/* Vertical Downwards */
.hidden {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.intro-animation:nth-child(2) {
    transition-delay: 600ms;
}

.project-animation:nth-child(2),
.project-animation:nth-child(3),
.project-animation:nth-child(4),
.project-animation:nth-child(5),
.project-animation:nth-child(6),
.project-animation:nth-child(7) {
    transition-delay: 400ms;
}

.email-animation {
    transition-delay: 500ms;
}

/* Horizontal */
.hidden-horizontal {
    opacity: 0;
    transform: translateX(-30px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.show-horizontal {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.contact-animation:nth-child(1) {
    transition-delay: 800ms;
}

.contact-animation:nth-child(2) {
    transition-delay: 1000ms;
}

.contact-animation:nth-child(3) {
    transition-delay: 1200ms;
}

/* INTRO */

.intro-animation:nth-child(3) {
    transition-delay: 1000ms;
}

.intro-animation:nth-child(4) {
    transition-delay: 1400ms;
}

/* SKILLS */

.specific-skills-animation1:nth-child(2),
.specific-skills-animation2:nth-child(2),
.specific-skills-animation3:nth-child(2),
.specific-skills-animation4:nth-child(2),
.specific-skills-animation5:nth-child(2),
.specific-skills-animation6:nth-child(2),
.specific-skills-animation7:nth-child(2),
.specific-skills-animation8:nth-child(2) {
    transition-delay: 200ms;
}

.specific-skills-animation1:nth-child(3),
.specific-skills-animation2:nth-child(3),
.specific-skills-animation3:nth-child(3),
.specific-skills-animation4:nth-child(3),
.specific-skills-animation5:nth-child(3),
.specific-skills-animation6:nth-child(3),
.specific-skills-animation7:nth-child(3) {
    transition-delay: 400ms;
}

.specific-skills-animation1:nth-child(4),
.specific-skills-animation2:nth-child(4),
.specific-skills-animation3:nth-child(4),
.specific-skills-animation4:nth-child(4),
.specific-skills-animation5:nth-child(4),
.specific-skills-animation7:nth-child(4) {
    transition-delay: 600ms;
}

.specific-skills-animation2:nth-child(5),
.specific-skills-animation4:nth-child(5),
.specific-skills-animation7:nth-child(5) {
    transition-delay: 800ms;
}

.specific-skills-animation2:nth-child(6),
.specific-skills-animation4:nth-child(6) {
    transition-delay: 1000ms;
}

.specific-skills-animation2:nth-child(7),
.specific-skills-animation4:nth-child(7) {
    transition-delay: 1200ms;
}

.intro-container {
    display: flex;
    flex-direction: column;
    margin-top: 65px;
    height: 100vh;
    width: 100%;
}

.study-vid {
    position: absolute;
    width: 100%;
    height: calc(100vh - 65px);
    z-index: -1;
    object-fit: cover;
}

.intro-brief {
    z-index: 1;
    color: white;
    font-size: 70px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 220px;
    margin-top: 100px;
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: 20px;
    margin-right: 900px;
    background-color: #505050a8;
    padding: 20px;
    height: auto;
}

.intro-brief-job {
    font-size: 30px;
    font-weight: 400;
    margin-top: 20px;
}

#contact {
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #EAC891;
}

.credit {
    font-size: 20px;
    position: absolute;
    margin-top: 830px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#contact h2 {
    font-size: 150px;
    /* color: rgb(84, 128, 27); */
    color: #D06224;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#contact-icon {
    margin-top: 100px;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 70px;
}

#contact-icon img {
    width: 100px;
    height: 100px;
    vertical-align: middle;
    transition: opacity 0.3s ease;
}

#github-after {
    display: none;
}

#contact-icon a:hover #github-before {
    opacity: 0;
    display: none;
}

#contact-icon a:hover #github-after {
    display: block;
    opacity: 1;
}

#linkedin-after {
    display: none;
}

#contact-icon a:hover #linkedin-before {
    opacity: 0;
    display: none;
}

#contact-icon a:hover #linkedin-after {
    display: block;
    opacity: 1;
}

#resume-after {
    display: none;
}

#contact-icon a:hover #resume-before {
    opacity: 0;
    display: none;
}

#contact-icon a:hover #resume-after {
    display: block;
    opacity: 1;
}

.contact-email {
    display: flex;
}

.contact-email p {
    font-family: cursive;
    margin-top: 30px;
    color: #4b4b4b;
    font-size: 30px;
    margin-right: 20px;
}

.contact-email button {
    /* height: 20px; */
    border: 1px solid transparent;
    background-color: #EAC891;
    margin-top: 33px;
}

#copy-icon:hover {
    fill: rgb(31, 31, 31);
}

#tick-icon {
    width: 25px;
    height: 25px;
}

#projects {
    min-height: 100vh;
    height: auto;
    padding-top: 100px;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(440px, 1fr));
    gap: 20px;
    justify-content: center;
    place-items: center;
}

.project {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    height: 300px;
}

.featured-projects-title {
    font-size: 60px;
    margin-bottom: 30px;
    color: #4b4b4b;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.project-info {
    color: black;
    width: 100%;
    height: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), #8d4912 90%);
    border-radius: 10px;
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    transition: height 0.5s;
    overflow: hidden;
    justify-content: center;
    /* width: minmax(440px, 1fr); */
}

.project img {
    width: 440px;
    height: 300px;
    border: 1px solid transparent;
    border-radius: 10px;
    display: block; 
    overflow: hidden;
    object-fit: fill;
    transition: transform 0.5s;
}

.project:hover img {
    transform: scale(1.1);
}

.project:hover .project-info {
    height: 100%;
    opacity: 1;
}

.links {
    position: absolute;
    margin-top: 150px;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 10px;
}

.links a {
    color: #000000;
    border: 1px solid transparent;
    border-radius: 50%;
    text-align: center;
    background-color: white;
    width: 40px;
    height: 40px;
    padding-top: 9px;
    padding-left: 2px;
    font-size: 15px;
}

.links a img {
    z-index: 10;
    width: 20px;
    height: 20px;
    margin-left: 7px;
}

.project-title {
    font-weight: bold;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.project-desc {
    /* color: #746d6d; */
    color: #ffffff;
    margin-top: 7px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.word-space {
    margin-left: 10px;
}

/* SKILLS */

#skills {
    min-height: 100vh;
    height: auto;
    padding-top: 100px;
}

.skills-container {
    margin-top: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #4b4b4b;
    font-size: 18px;
    display: grid;
    grid-template-columns: repeat(4, minmax(60px, 1fr));
    gap: 40px;
    justify-content: center;
    place-items: center;
    max-width: 1400px;
    margin: 40px auto;
    position: relative;
}

.skill {
    position: relative;
    overflow: hidden;
    width: 340px;
    height: 260px;
}

.skills-title {
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
    font-size: 25px;
    color: #727272;
}

.specific-skills p {
    margin-bottom: 5px;
}

/* Mobile */
@media only screen and (min-width: 480px) and (max-width: 650px) {
    .intro-brief {
        margin-right: 20px;
        margin-left: 20px;
    }

    .intro-greeting {
        font-size: 40px;
    }

    .intro-brief-job {
        font-size: 20px;
    }

    /* PROJECTS */

    .project-container {
        display: grid;
        grid-template-columns: repeat(1, minmax(400px, 1fr));
        justify-content: center;
        place-items: center;
    }

    .project {
        margin-top: 10px;
    }   

    .featured-projects-title {
        font-size: 40px;
    }

    /* SKILLS */

    .skills-container {
        font-size: 15px;
        grid-template-columns: repeat(2, minmax(60px, 1fr));
        gap: 40px;
    }
    
    .skill {
        width: 195px;
        height: 260px;
        /* border: 1px solid green; */
    }
    
    .skills-title {
        font-size: 17px;
    }

    /* CONTACT */
    #contact h2 {
        font-size: 60px;
    }

    .contact-email p {
        font-size: 23px;
    }

    #contact-icon {
        grid-gap: 40px;
    }
    
    #contact-icon img {
        width: 70px;
        height: 70px;
    }

    .credit {
        font-size: 17px;
    }
}

@media only screen and (min-width: 651px) and (max-width: 800px) {
    .intro-brief {
        margin-right: 80px;
        margin-left: 50px;
    }

    .intro-greeting {
        font-size: 30px;
    }

    .intro-brief-job {
        font-size: 22px;
    }

    /* PROJECTS */

    .project-container {
        display: grid;
        grid-template-columns: repeat(1, minmax(440px, 1fr));
        /* gap: 10px; */
        justify-content: center;
        place-items: center;
    }

    .project {
        margin-top: 10px;
    }

    .featured-projects-title {
        font-size: 40px;
    }

    /* SKILLS */

    .skills-container {
        font-size: 17px;
        grid-template-columns: repeat(2, minmax(60px, 1fr));
        gap: 40px;
        max-width: 1400px;
    }
    
    .skill {
        width: 230px;
        height: 260px;
        /* border: 1px solid green; */
    }
    
    .skills-title {
        font-size: 20px;
    }

    /* CONTACT */
    #contact h2 {
        font-size: 80px;
    }

    #contact-icon {
        grid-gap: 50px;
    }
    
    #contact-icon img {
        width: 90px;
        height: 90px;
    }
}

@media only screen and (min-width: 800px) and (max-width: 950px) {
    .logo {
        margin-left: 40px;
    }

    #logo1,
    #logo2 {
        margin-left: 0;
    }

    #menu-icon {
        display: none;
    }

    .intro-brief {
        margin-right: 400px;
        margin-left: 100px;
    }

    .intro-greeting {
        font-size: 50px;
    }

    .intro-brief-job {
        font-size: 22px;
    }

    /* PROJECTS */

    .project-container {
        display: grid;
        grid-template-columns: repeat(1, minmax(440px, 1fr));
        justify-content: center;
        place-items: center;
    }

    .project {
        margin-top: 10px;
    }

    .featured-projects-title {
        font-size: 50px;
    }

    /* SKILLS */

    .skills-container {
        font-size: 15px;
        grid-template-columns: repeat(3, minmax(60px, 1fr));
        gap: 40px;
        max-width: 1400px;
    }
    
    .skill {
        width: 230px;
        height: 260px;
    }
    
    .skills-title {
        font-size: 17px;
    }

    /* CONTACT */
    #contact h2 {
        font-size: 100px;
    }

    #contact-icon {
        grid-gap: 50px;
    }
    
    #contact-icon img {
        width: 90px;
        height: 90px;
    }
}

@media only screen and (min-width: 950px) and (max-width: 1000px) {
    .logo {
        margin-left: 40px;
    }

    #logo1,
    #logo2 {
        margin-left: 0;
    }

    .intro-brief {
        margin-right: 400px;
        margin-left: 100px;
    }

    .intro-greeting {
        font-size: 50px;
    }

    .intro-brief-job {
        font-size: 22px;
    }

    /* PROJECTS */

    .project-container {
        display: grid;
        grid-template-columns: repeat(2, minmax(440px, 1fr));
        /* gap: 10px; */
        justify-content: center;
        place-items: center;
    }

    .project {
        margin-top: 10px;
    }

    /* SKILLS */

    .skills-container {
        font-size: 15px;
        grid-template-columns: repeat(3, minmax(60px, 1fr));
        gap: 40px;
        max-width: 1400px;
    }
    
    .skill {
        width: 230px;
        height: 260px;
        /* border: 1px solid green; */
    }
    
    .skills-title {
        font-size: 17px;
    }

    /* CONTACT */
    #contact h2 {
        font-size: 100px;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
    .logo {
        margin-left: 40px;
    }

    #logo1,
    #logo2 {
        margin-left: 0;
    }

    .intro-brief {
        margin-right: 400px;
        margin-left: 100px;
    }

    .intro-greeting {
        font-size: 50px;
    }

    .intro-brief-job {
        font-size: 22px;
    }

    /* PROJECTS */

    .project-container {
        display: grid;
        grid-template-columns: repeat(2, minmax(440px, 1fr));
        /* gap: 10px; */
        justify-content: center;
        place-items: center;
    }

    .project {
        margin-top: 10px;
    }

    /* SKILLS */
    
    .skills-container {
        font-size: 15px;
        grid-template-columns: repeat(3, minmax(60px, 1fr));
        gap: 40px;
        max-width: 1400px;
    }
    
    .skill {
        width: 230px;
        height: 260px;
        /* border: 1px solid green; */
    }
    
    .skills-title {
        font-size: 17px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1350px) {
    .intro-brief {
        margin-right: 630px;
        margin-left: 100px;
    }

    .intro-greeting {
        font-size: 50px;
    }

    .intro-brief-job {
        font-size: 22px;
    }

    /* PROJECTS */

    .project-container {
        display: grid;
        grid-template-columns: repeat(2, minmax(440px, 1fr));
        /* gap: 10px; */
        justify-content: center;
        place-items: center;
    }

    .project {
        margin-top: 10px;
    }

    /* SKILLS */
    
    .skills-container {
        font-size: 15px;
        grid-template-columns: repeat(4, minmax(60px, 1fr));
        gap: 40px;
        max-width: 1400px;
    }
    
    .skill {
        width: 230px;
        height: 260px;
        /* border: 1px solid green; */
    }
    
    .skills-title {
        font-size: 17px;
    }
}

@media only screen and (min-width: 1350px) and (max-width: 1500px) {
    .intro-brief {
        margin-right: 630px;
        margin-left: 100px;
    }

    .intro-greeting {
        font-size: 50px;
    }

    .intro-brief-job {
        font-size: 22px;
    }

    /* PROJECTS */

    .project-container {
        display: grid;
        grid-template-columns: repeat(3, minmax(440px, 1fr));
        gap: 10px;
        justify-content: center;
        place-items: center;
    }

    /* SKILLS */
    
    .skills-container {
        font-size: 15px;
        grid-template-columns: repeat(4, minmax(60px, 1fr));
        gap: 40px;
        max-width: 1400px;
    }
    
    .skill {
        width: 270px;
        height: 260px;
        /* border: 1px solid green; */
    }
    
    .skills-title {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1500px) and (max-width: 1700px) {
    .intro-greeting {
        font-size: 50px;
    }

    .intro-brief {
        margin-right: 750px;
        margin-left: 100px;
    }

    .intro-brief-job {
        font-size: 25px;
    }
}

@media only screen and (min-width: 1700px) and (max-width: 1800px) {
    .intro-greeting {
        font-size: 50px;
    }

    .intro-brief-job {
        font-size: 25px;
    }
}